body{
    background-color:lightgray;
    font-family: Arial, Sans-serif;
}

h1{
    color:darkblue;
    text-align: center;
    font-size: 40px;
}

h2{
color:darkblue;
font-size: 28px;
}

.intro{
    font-size: 18px;
    line-height: 1.6;
}

p{
font-size: 16px;
line-height: 1.6;
}

section{
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
}

#contact {
    background-color: #eeeeee;
    padding: 30px;
    margin-top: 30px;
    
}

h2{
    #contact h2{
        color: darkblue;
    }
}

figure{
text-align:center;
}

figure img {
border-radius: 50%;
}

nav {
    text-align: center;
    padding: 15px;
}

nav a{
    margin: 0 10px;
}

input, select, textarea {
    padding:8;
    margin: 5px;
}

button {
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

main{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    flex: 1 1 150px;
    
}

@media (max-width: 600px){
    main{
        width: 95%;
    }
    .skills-container {
            flex-direction: column;
    }
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

.badge {
    position:absolute;
    top: 0px;
    right: 20px;

    padding: 5px 10px;
    background-color: darkblue;
    color: white;
}

.floating-button {
    position: fixed;

    bottom: 20px;
    right: 20px;

    padding: 12px 18px;

    background-color: darkblue;
    color: white;

    text-decoration: none;
    border-radius: 8px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}